/* variables */
:root{
    --primary:rgb(220, 74, 33);
    --secondary:#d91400;
    --hover:#b71000;
    --border:40px;
    --font: 'TTNormsPro-Regular';
    --bold:'TTNormsPro-Bold';
    --rubik:'Rubik-Regular.ttf';
    --medium:'TTNorms-Medium.woff2';
    --extra:'TTNorms-ExtraBold.woff2'
}
/* fonts */
@font-face{
    font-family: 'Rubik-Regular.ttf';
    src:url('font/Rubik-Regular.ttf');
}
@font-face{
    font-family: 'TTNormsPro-Regular';
    src:url('font/TTNormsPro-Regular.ttf');
}
@font-face{
    font-family: 'TTNormsPro-Bold';
    src:url('font/TTNormsPro-Bold.ttf');
}
@font-face{
    font-family: 'TTNorms-Medium.woff2';
    src:url('font/TTNorms-Medium.woff2');
}
@font-face{
    font-family: 'TTNorms-ExtraBold.woff2';
    src:url('font/TTNorms-ExtraBold.woff2');
}
/* reset */
*{
   margin:0;
   padding:0;
   box-sizing: border-box; 
   font-family: var(--font);
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

nav.sticky{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 49px;
    background-color: antiquewhite;
    padding:10px 8px;
     z-index: 1000;
     display:flex;
     display: flex;
    justify-content: flex-start;
    align-items:center;
}
.back-buttons{
    display:none;
}
.signin-saved{
    display:none;
}
.sticky-button{
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    margin-left: auto; 
    display: flex;
    gap:10px;
} 
.sticky-button .white{
    background-color: white;
    color: black;
}
.logo{
    width: 65px;
    height: 60px;
    background-color:whitesmoke;
    border:1px solid rgb(237, 234, 229);
    border-radius: 8px;
    margin-top: 26px;
    margin-left: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
} 
.topper h4{ 
   
   font-family: var(--bold);
   font-size: 16px;
   font-weight: 900;
   line-height: 22px;
   letter-spacing: -0.01px;
   display: block;
}   
.heading p{ 
    margin-top: 1px;
   font-family: var(--font);
   font-weight:bolder;
   font-size: 14px;
    color: gray;
    padding-bottom: 5px;
    line-height: 18.9px;
    letter-spacing: -0.01;
    display: block;
} 
.topper .open{
      margin-left: auto;
    margin-right:8px ;
      margin-top: 40px;    
     
}   
 .open{
    background: var(--secondary);
    font-family:var(--bold) ;
    /* padding:.401em .76em;  */
    cursor: pointer;
    border: none;
    border-radius: 45px;
    color: white;
    font-size: 16px; 
    white-space:nowrap; 
    position: relative;
    display:block;
    font-weight: 800; 
    text-align: center;
    width: auto;
    box-sizing: border-box;
    align-content: center; 
     max-width: 100%;
    
     /* height: 22px; */
     line-height: 23px;
    padding:4.4px 12.5px;
    
}  
.topper{
    display: flex;
    /* align-items: center;  */
    align-items: flex-start;
    position:relative;
    z-index: 1;
    padding-top: 0;
     margin-bottom: 6px; 
}
.heading{
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
}
.star{
    color: gold;
    font-size: 10px;
    font-weight: 500;
    line-height: 5px;
    padding-left: 2px;
     padding-right: 6px; 
    letter-spacing: -0.01;
    text-align: left;
}
.back{
    background:url(images/hero_desktop.png);
     background-repeat: no-repeat;
    background-size: cover; 
    background-position:center;
    height: 550px;
    position: relative;
    overflow-x: hidden;
    display: flex; 
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    align-self: center;
    text-align: center;
    padding-top: 176px;
}
.app{
  display: flex; 
  flex-direction: column;
  position:absolute;
  top:15px;
  right:24px;
  padding:9px 12px;
}
.content {
  /* position: absolute;
  top: 145px;            */
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  /* padding: 30px 20px;  */
  
} 
.doordash{
    display: flex;
    align-items: center;
     gap: 8px;
     /* margin-right: 20px; */
   
}
/* .delivery{
    color: white;
     font-family: var(--extra);
    font-size: 32px;
    font-weight: 950;
     padding-top: 15px;
} */
 .delivery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
 }
.delivery h1{
    margin-top: 12px;
    padding-top: 10px;
    line-height: 29px;
    padding-bottom: 19px;
    width:70%;
    margin-left: 20px;
    color:white;
    font-family: var(--bold);
    align-items: center;
    font-size: 32px; 
}
form{   
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-left: 4px;
    box-sizing: border-box;
    align-items: center;
    padding: 0;
    width:100%;
}
.input-wrapper {
  /* position: relative;
  width: 310px;
  margin-left: 45px; 
  margin-bottom: 10px;
  display: flex;
  min-height: 40px;
  box-sizing: border-box; */
  display:flex;
  align-items: center;
  /* margin: 0 auto; */
  border: 1px solid #ccc;
  border-radius: 33px;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
 
  width:299px;
  padding:5px 16px;
  max-width: 100%;
  height: 52px;
  margin-top: 1px;

}  
.input-wrapper1{
    display:none;
} 
.input-wrapper .icon1,.input-wrapper .icon2{
    padding-top: 7px;
}             
.input-wrapper input {
    /* margin-left: -20px; 
    /* box-sizing: border-box; */
  /*padding:10px 30px 10px 50px; */
  /* width:100%;
   height:52px;
   border-radius: var(--border);
   border: 2px solid white;
    outline: none;
    margin-top: 2px;
    font-size: 16px;line-height: 22px;
    font-weight: 500;
    width: 100%;
    display: flex;
    box-sizing: border-box; */
    max-width: 100%;
    border:none;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    justify-self: center;
    border-radius: 30px;
    flex-grow: 1;
    transform: translateX(8px);
    padding-right: 0px;
    margin: 0px 0px 4px auto;

}             
/* .input-wrapper .fa-magnifying-glass { 
   position: absolute;
  color: rgb(15, 12, 12);
   left: 10px;
  transform: translateY(-50%);
  font-size: 17px;
  font-weight: 600;
  top:50%
}
.input-wrapper .fa-arrow-right {
  position: absolute;
  color: rgb(15, 12, 12);
  right:40px;  
  
  top:50%;
  transform: translateY(-50%);
  font-size: 20px;
  font-weight: 550; 
}        */
 .input-wrapper ::placeholder{
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font);
    transform: translateY(2px);
    word-spacing: 1px;
    line-height: 22px;
    letter-spacing: -0.01px;
    /* text-align: left;*/
    padding-left: 5px; 
    margin-top: 120px;
} 
 
.buttons{
    margin-top: 4px ;
    /* gap:12px; */
    display: flex;
    position: relative;
    align-items: center;
    justify-content:center;
}
/* .login{
    position:relative;
    margin:0;
    padding:0;
    border-radius: var(--border);
    outline: none;

} */
.buttons button {
  display: inline-flex;
  padding:7px 12px;
  align-items: center;
  gap:5px;
  font-weight: 900;
  width: auto;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-family: var(--bold);
  font-weight: 900;
  position:relative;
  min-height:32px;
  justify-content: flex-start;

}
.buttons .location{
    margin-left: 12px;
}
.signin-button{
    display:none
}
.continue{
    display:flex;
    flex-direction: column;
    text-align: left;
    width:360px;
    gap:15px;
    height: 160px;
    border: 2px solid rgb(242, 236, 236);
    position:relative;
    /* padding: 0 20px 20px 20px; */
    border-radius: 15px;
    /* justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center; */
    margin: 20px auto; 
    box-sizing: border-box; 
}
.bottom-part{
    margin-top: -7px;
    display:block;
    width:320px;
    align-self: center;
    padding: 11px 5px;
    font-size: 16px;
    height: 40px;
}
 
.top-part {
  display: flex;
  align-items:self-start;
  padding-left: 12px;
  transform: translateY(-6px);
}
/* .second{
    font-size: 20px;
} */
.continue .logo{
    /* padding: 10px 2px; */
    height:60px ;
    width:60px;
    border-radius: 15px;
    transform: translateY(-2px);
   
}
.continue .heading h4{
    font-size: 18px; 
    font-weight: 900;
    font-family: var(--bold);
    /* margin-left: 0; */
    transform: translateX(-3px);
}
.continue .heading{
    margin-left:2px;
    margin-bottom:-3px;
}
.continue p{
    padding-left: 2px;
    line-height:20px ;
    /* letter-spacing: 1px; */
}
.continue .star{
    padding:0px;
}
.option{
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 65px;
    /* margin-left: -55px; */
    /* gap:400px; */
    box-sizing: border-box;
    /* margin-right: 51px; */
}
/* .option ul li .upper{
    display: flex;
    justify-content: center; 
    align-items: center;
    width:100px;
}
.option ul li .upper img{
    width:100%;
    height:80px;
    object-fit: contain;
} */

.option ul{
   display: flex;
   flex-direction: column;
   gap:2px
   /* padding: 0;
   margin: 0;
   */
} 

.option ul li{ 
    display: flex;
    align-items: self-start;
  justify-content: center;
   margin-bottom: 30px;
   /* column-gap: 15px;
   width: 80%; */
   width:100%;
   gap:32px;
  
}
.option li img{
    width: 88px;
    height:88px;
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    box-sizing: border-box;
}
.option h4 {
  /* margin-bottom: 2px; */
  font-family: var(--medium);
  font-size: 31px;
  font-family: 600;
  line-height: 40px;
 letter-spacing: 1px;
  display: block;
  padding-bottom: -32px;
  box-sizing: border-box;
  max-width: 200px;
  
}

.para p {
  /* margin-top: 0; */
  font-family: var(--medium);
  font-size: 18px;
  line-height: 24px;
  font-weight:500;
  padding-bottom: 12px; 
  display: block;
  /* margin: 0;
  padding: 0; */
  width: 250px;
  display: flex;
  text-align: left;
 
}
.para a{ 
    text-decoration: none;
    color: var(--primary);
    font-family: var(--bold);
     font-size: 14px;
     font-weight: 900;
    line-height: 20px;
    display:block;
}
.option .para{
    
    display: flex;
    flex-direction: column;
    /* max-width: 50%; */
}

/* main ul,.help ul{
    list-style: none;
    padding: 1%;
    display: grid;
    gap:30px
} */
 .three{
    margin-top: 54px;
   display: flex;
   flex-direction: column;
   /* justify-content: center;
   align-items: center; */
   /* margin:300px 20px;  */
   padding:0px 20px;
   align-items: flex-start;
   /* margin-bottom: px; */
 }

.three .image{
  width: 100%;         
  height: 180px;     
  position:relative; 
  overflow: hidden;
  display:flex;
justify-content: flex-end;
align-items: bottom;
/* margin:10px 10px; */
}
.three .image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: right center;
    display: block;
}

.three .para1{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* gap:20px; */
}
.three .para1 h4{
    font-family: var(--bold);
    font-size: 24px;
    font-weight: 600;
    margin-top:24px;
    margin-bottom:8px;
    /* margin-bottom: 10px; */
    /* letter-spacing: -0.01px; */
}
.three .para1 h5{
    margin-top: 0px;
    font-family: var(--bold);
    font-size: 18px;
}
.three .para1 p{
    margin-top: 10px;
    font-family: var(--medium);
    font-size: 14px;
    line-height: 20px;
    /* font-weight: 900; */
}
.three-button{
    margin-top:20px;
    font-size: 14px;
    /* padding:4px 12px; */
    min-height: 32px;
    font-family: var(--medium);
    min-width: auto;
    font-weight: 900;
    word-spacing: 1.1px; 
}
/* .three-one{
    margin-bottom: -15px;
} */

 .three-one .three{
    margin-bottom: -15px;
} 
.three-two .three h4{
    transform: translateY(-1px);
}
.three-two .three p{
   position:relative;
   top:-10px;
}
.three-two .three-button{
    margin-top: 10px;
}

.section1 {
  position: relative;
  height:350px;
   background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/hand-background.avif');
   background-size: cover;
   background-position: center;
   color:white;
   text-align: center;
   box-sizing: border-box;
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width:100%; 
   margin-top: 20px;
  
  
}
.section1-content{
     display:flex;
     flex-direction: column;
     align-items: center;
     margin-top: auto;
     margin-bottom: auto;
     max-width:550px;
}
.section1 h2{
    position:relative ;
     /* width:70%;   */
    font-family: var(--bold);
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: -0.01px;
    display:block;
    max-width: 90%;
    text-align: center;
    
     margin-top: 22px; 
     /* margin-bottom: 50px;   */
    /* padding-bottom:24px; */
    filter:drop-shadow(rbga(0,0,0,0.2) 0px 2px 8px);
    /* margin-top: -4px; */
}
.section1 h3{
    position:relative;
    font-family: var(--extra);
    /* font-weight: 900; */
    font-size: 18px;
    box-sizing: border-box;
    font-weight: 600;
    /* letter-spacing: -0.01px; */
    line-height: 22px;
    text-align: center;
    text-decoration-style: solid;
    /* letter-spacing: 0.1px;  */
     /* margin-bottom: 10px;  */
     margin-top: 10px;
    /* padding-bottom: 20px; */
    /* transform: translateY(-10px); */
    filter:drop-shadow(rgba(0,0,0.2) 0px 0px 2px 8px);
}
.section1 p{
    font-family: var(--medium); 
    font-size: 14px;
    /* padding-bottom: 10px; */
    /* font-weight: 700; */
    display:block;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.01px;
    /* width:90%; */
    margin-top: 10px; 
    /* transform: translateY(-8px); */
}
 .section1-button{
 transform: scale(0.9);
    margin-top: 20px;
    height:35px;
} 

/* .three-three .para1 h4{ 
    font-family: var(--bold);
    font-weight:600;
    .. word-spacing: 0.5px;..
    
    font-size: 24px;
    line-height: 28px; 
    letter-spacing: -0.01px;
    display:block;
    ..word-spacing: 0.5px;..
} */
 .three-three .para1{
    max-width:90%;
    display:flex;
   flex-direction: column;
   /* align-self: center; */
 }
.three-three .para1 p{
    margin-top: -2px;
    
} 
.three-three .para1 .three-button{
    width:90px;
}
.three-three .three{
    margin-top: 20px;
}
/* .section1-content{
    display:flex;
    flex-direction: column;
    align-items: center;
} */
 .help-heading{
    display:flex;
    justify-content: center;
    padding:40px 20px 20px;
    width:100%;
 }
 .help-heading h2{
    text-align: center;
    max-width: 300px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px; 
     letter-spacing: 0.1px; 
    display:block;
    font-family: var(--medium);
 }
 .help-wrapper{
    margin-top: 20px;
    background-color:aliceblue
 }
.help{
   display: flex;
   flex-direction: row;
   overflow-x: auto;
   width:100%;
   box-sizing: border-box;
  
    /* padding-right:65px; */
   gap:0px;
   /* position:relative; */
    /* right:-10px; */
}
.help-one{
    display:flex;
    padding: 20px;
    margin-right: -10%;
    margin-left:5% ;
    display: flex;
    flex-direction: column;
    min-width: 90%; 
    align-items: center;
}
.lazy-image{
    width:100%;
}
/* .help-one .help-image{
    width:100%;
    box-sizing: border-box;
    display: block;
    width:103%;
} */
.help-one .help-image img{
    width:100%;
    height:180px;
    object-fit: cover;
}
.help-content{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.help-content h2{
    display:block;
    font-family: var(--bold);
    box-sizing: border-box;
    max-width: 90%;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 20px;
    letter-spacing: 0.1px;
}
.help-content p{
    font-family: var(--medium);
    display:block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-top:9px ;
}
.help-content .open{
    margin-top: 16px;
    transform: scale(0.9);
    height:37px;
}
.last-help{
    margin-right: 5%;
}
.alcohol{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;

}
/* .help-last{
    margin-right: 37px;
} */
/* .help ul {
  display: flex;
  flex-direction: row;
   gap:10px;
  overflow: auto;
  background: none;
} 
.help ul li {
  background:none;
  border-radius: 12px;
  box-sizing: border-box;
  min-width: 300px;
 
}

.help ul li img {
  width: 100%;         
  height: 200px;         
  object-fit: cover; 
  overflow: hidden;
  
  
}
.help h2{
    padding-left: 50px;
    
} */
 .help::-webkit-scrollbar{
    display:none;
}
.unlock-heading{
    display: flex;
    justify-content: center;
    padding:40px 20px 20px;
    width:100%;
}
.unlock-heading h1{
    text-align: center;
    max-width: 300px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    font-family: var(--bold);
}
.unlock-main{
    width:100%;
}
.unlock-one{
    display:flex;
    flex-direction: column;
    padding:20px;
    min-width: 90%;
    align-items: center;
}
.unlock-image{
    width:100%;
    display:block;
}
.unlock-image img{
    width:100%;
    height:180px;
    object-fit: cover;
}
.unlock-para{
    text-align: left;
    display: flex;
    flex-direction: column;
}
.unlock-para h4{
    text-align: left;
    max-width: 90%;
    margin-top: 19px;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    display:block;
    font-family: var(--bold);
}
.unlock-para p{
    font-family: var(--medium);
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.01px;
}
.unlock .open{
    margin-top: 20px;
    /* width:30%;
    transform: scale(0.9); */
    font-size: 14px;
    width: 125px;
}
.city li a{
    font-family: var(--medium);
}
.city{
    margin-top:25px ;
    max-width: 100%;
    padding:24px 0px;
    /* width:400px; */
     margin-bottom: 25px;
}
.city h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
      font-family: var(--medium);
      letter-spacing: 0.2px;
}
.city-wrapper{
    display:flex;
    justify-content: center;
    width:100%;
    flex-direction: column;
    gap:24px;
    box-sizing: border-box;
}
.top{
    
    display:flex;
    justify-content: center;
    width:100%;
    flex-direction: row;
    /* margin-bottom: 10px; */
}
.top li{
    
    border-bottom: 3px solid black;
    /* padding-bottom: 12px; */
    width:33.33%;
    display:flex;
     height:40px;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.list{
    display:flex;
    flex-direction: column;
    gap:12px; 
    width:100%;
}
.list ul{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:17px;
    width:100%;
}
.list ul li{
    width:100%;
    white-space: nowrap;
    display:block;
}
.see-more{
    display:flex;
   align-items: center;
   justify-content: center;
   padding:10px 0px;
   cursor: pointer;
}
.see-more span{
    font-family: var(--medium);
    margin-right: 8px;
    font-size: 20px;
    font-weight:700 ;
    line-height:24px;

}
.see-more button{
    position:relative;
    max-width: 100%;
    display: inline-flex;
    min-height: 40px;
    border-radius: 9999px;
    border:none;
    text-align: center;
    height:40px;
    width:40px;
    align-items: center;
    justify-content: center;
}
/* .unlock h1{
    font-size: 30px;
}
.unlock{
 text-align: center; 
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.unlock .para{
    display: flex;
    flex-direction: column;
}
.unlock li{
    display: flex;
    flex-direction: column;

}
.unlock .para{
    display: flex;
} */

/* .city .top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    font-family: var(--bold);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;

}
.city .top li{
     border-bottom: 2px solid black;
}
.city h1{
   text-align: center; 
   font-size: 32px;
   font-weight: 700;
   line-height:40px;

}
.list{
    display: flex;
}
.list li{
    font-size: 16px;
    font-family: var(--bold);
    line-height: 40px;
}

}   */
/* footer{
    
    background-color: black;
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
}

footer h4{
    color:#f5f5f5;
footer ul{
    padding:10px;
}*/
footer .button-wrapper{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:13px;
    
} 
 footer .buttons-icon .icon-button{
   background: grey;
   border-radius: 10px; 
   width:160px; 
   display: flex;
   justify-content: center;
   align-items: center; 
   height:53px      
}
 footer a{
    color:white;
    text-decoration: none;
}
footer{
    color:white;
    width:100vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}
.footer-wrapper{
    
    width:1184px;
    display: block;
    box-sizing: border-box;
}
.footer-inner{
    
    max-width: 1160px;
    padding:0 20px;
    margin:auto;
    display:flex;
    flex-direction: column;
}
.footer-one{
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    flex:1 1 0%;
}
.footer-one h4,.footer-two h4{
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    font-family: var(--medium);

}
.footer-one .footer-outer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:12px;
    text-align: center;
}
.footer-one ul{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}
.footer-one ul li ,.footer-two ul li{
    margin-top: 8px;
    height: 20px;
}
footer li a{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-family: var(--medium);
}
.footer-two{
    display:flex;
    flex-direction: column-reverse;
}
.get-know{
    display: flex;
    flex-direction: column;
    text-align: center;
   
    justify-content: space-between;
    gap:12px
}
/* .get-know ul{
    margin-top: 8px;
}  */
.get-know li{
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    display: block;
}
.get-know ul{
    display: flex;
    flex-direction: column;
    padding-top: 32px;
}
.footer-three{
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding:32px 0;
}
.ref{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    flex-direction: row;
    max-width: 100%;
    align-items: center;
}
.ref-logo{
    text-decoration: inherit;
    cursor: pointer;
}
.logo-inner{
    max-width: 100%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    box-sizing: border-box;
}
.icons span{
    padding-left: 12px;
}
.english{
    width:160px;
    height:35px;
    border-radius: 45px;
}
.term , .privacy, .location, .donot, .copyright{
    margin-left: 16px;
    color:inherit;
    cursor: pointer;
}
.term .term-text, .privacy .privacy-text, .location span, .donot span ,.copyright-text{
    font-size: 12px;
    font-weight:500 ;
    line-height:18px;

}
@media screen and (min-width:768px){
    .topper{
        display: none;
    }
    .continue{
        display: none;
    }
   
     /* nav.sticky{
        display: none;
     } */
     .back{
        height:650px;
        padding-top: 24px;
     }
     .app{
        display:none
     }
     .delivery h1{
        width: 100%;
        margin-top: 230px;
        font-size: 40px;
        /* line-height: -5px; */
        margin-bottom: 8px;
        font-weight: 900;
     }
     .input-wrapper{
        display:none;
     }
     .input-wrapper1{
        display:flex;
        align-items: center;
        border:1px solid #ccc;
        border-radius: 33px;
        background: #fff;
        width:409px;
        height:56px;
        font-size:16px;
        font-weight: 500;
        gap:10px;
        padding:5px 16px;
        position: relative;
     }
     .input-wrapper1 input{
        flex-grow: 1;
        border:none;
        outline: none;
        font-size:16px;
        font-weight: 900;
        background: transparent;
        font-family: var(--font);
     }
      .input-wrapper ::placeholder{
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font);
    transform: translateY(2px);
    word-spacing: 1px;
    line-height: 22px;
    letter-spacing: -0.01px;
    /* text-align: left;*/
    padding-left: 5px; 
    margin-top: 120px;
}
     /* .input-wrapper1 .icon3,
     .input-wrapper1 .icon4{
        padding-top: 10px;
     } */
     .input-wrapper1 .icon3{
        margin-left: 4.3px;
        margin-top: 7px;
     }
     .input-wrapper1 .icon4{
        background-color: var(--primary);
        border-radius: 40px;
        width:40px;
        height: 40px;
        outline:none;
        color:white;
        border:1px solid var(--primary);
        margin-left: 344px;
        position:absolute;
     }
     .buttons{
        display: none;
     }
    /* .buttons1{
        display:flex;
        justify-content: flex-end;
        padding:10px 20px;
        background: white;
    } */
    .signin-button{
        display: inline-flex;
  padding:6.5px 12px;
  align-items: center;
  gap:4px;
  font-weight: 900;
  width: auto;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  min-height:31px;
  justify-content: flex-start;
  margin-top: 4px;
    }
 .signin-button .signin-text{
    color:black;
    font-family: var(--bold);
    font-weight: 900;
    padding-top:.900px
 }
 .back-buttons{
    display:flex;
    position:absolute;
    right:25px;
    top:16px;
    gap:9px;
     /* padding:17px 12px; */
    /* padding:0px 15px; */
 }  
 .back-buttons .back-signup{
    background: white;
    color:grey;
    font-size: 18px;
    padding:6.5px 10.8px;
    /* padding-top:6px; */
    font-weight: 900;
    text-align: center;
    line-height: 27px;
 }
 /* .option .upper{
    transform: scale(1.4);
 } */
 .option ul li {
    gap:64px
 }
 .option {
    margin-top: 56px;
    margin-bottom:45px;
 }
.option li img{
    width:125px;
    height:125px;
}
/* .three{
    display: flex;
    flex-direction: column;
} */
/* .three-one, .three-three{
    display: flex;
    flex-direction: row-reverse;
    gap:60px;
    ...align-content: space-between;...
    ... max-width: 1184px;...
}
.three-two {
    display: flex;
    flex-direction: row;
}
.three .image{
    width: 730px;
 height:504px;
 ... padding:0;..
 ..margin:0; ..
    ..position:relative;..
}
.three .image img{
    width:100%;
    height:500px;
     object-fit: cover;
    object-position: center; 
    display: block; 
}
.three-content{
    display:block;
    ... box-sizing: content-box;..
    .. max-width: 400px; ..
    margin-top: auto;
    margin-bottom: auto;
}
.three .para1{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start; 
    text-align: left;
     ... width:400px; ...
} 
 .three .para1 h4{
    font-family: var(--bold);
   box-sizing: content-box;
   display:block;
   font-size:40px;
    font-weight:700; 
   letter-spacing: -0.01px;
   line-height: 40px;
   .. margin-block-start: 20px;..
   margin-top: 20px;
   max-width:90%;
} 
.three .para1 h5{
   margin-top: 20px; 
   font-size: 20px;
   font-weight: 700;
   line-height:24px ;
   letter-spacing: -0.01px;
}
.three .para1 p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding-top: 10px;
} */
 .three-outer{
     width:100%;
    box-sizing: border-box;
     display:block;
   
    /* display: flex;
    align-items: center; */
   
    /* flex-direction: column;
    justify-content: center;
    padding:19px 20px 20px;
    align-items: center;
    box-sizing: border-box;  */
 }
.three-main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: -60px; 
    padding:20px;
    min-width: 90%;
    align-items: center;
    box-sizing: border-box; 
    /* height:900px; */
 }
 .three{
    display:flex;
    flex-direction: row-reverse;
    align-content:space-between;
    gap:60px;
    box-sizing: border-box;
    margin:0;
    max-width: 1184px;
 }
.three-content{
     max-width:400px;
      margin-top: auto;
      margin-bottom: auto;
      box-sizing: border-box;
      
}
 .three .para1{
    text-align: left;
    display:flex;
    /* display:flex;
    flex-direction: column;
    align-content: space-between;
    gap:60px;
    max-width:1184px;
    box-sizing: border-box; */
     
} 
.three .para1 h4{
    display:block;
    max-width:90%;
    margin-top: 20px;
    font-family: var(--bold);
    font-size: 40px;
    font-weight: 700;
    line-height:40px ;
    letter-spacing: -0.01px;
    margin-bottom:0
    
}
.three .para1 h5{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.01px;
    display:block;
    text-align:left;
    box-sizing: border-box;
}
.three .para1 p{
    font-family: var(--medium);
   margin-top: 10px;
   font-size: 16px;
   font-weight: 500;
   line-height: 22px;
   letter-spacing: -0.01px;
   display:block; 
}
.three .image{
    width:100%;
    box-sizing: border-box;
    height: 504px;
}
.three-two .three .image img{
    width:100% ;
    object-position: center;
    object-fit: cover;
    height:500px;
}
.three-main .three-two{
    display: flex;
    flex-direction: row;
}
.three-two .three-content p{
    margin-top:20px;
    top:0
}
.three-two .three-content .open{
    margin-top: 30px;
    margin-bottom: 0;
}
.three .open{
    /* margin-top: 10px; */
    height:40px;
    width:148px;
    font-size: 16px;
    margin-top: 30px;
}


.three-two .three .three-button{
    position:relative;
    margin-top: 10px;
    margin-bottom: 20px;
}
.three-two .three-main{
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0;
    /* padding:20px;*/
    padding-top: 60px; 
    min-width: 90%;
    align-items: center;
    /* align-content: space-between; */
}
.three-two .three{
    flex-direction: row;
    align-content: space-between;
    gap:60px;
    max-width: 1184px;
    padding:0;
}
.three-two .three .image{
    height:504px;
    width:100%;
}
.three-two .three .image img{
    width:100%;
}
.three-two .three-content{
    margin:124px 0px;
}
.section1{
   position:relative;
   height:600px; 
}
.section1 .section1-wrapper{
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    position:relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
   justify-content: center;
   align-items: center;
}
.section1-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:auto;
    margin-bottom: auto;
    max-width: 550px;
}
.section1-content h2{
    text-align: center;
    max-width: 90%;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01px;
}
.section1-content h3{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
} 
.section1-content p{
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

}
.section1-button{
    margin-top: 30px;
}
.three-three .three{
    padding:0;
}
.help-main{
    box-sizing: border-box;
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    
    /* gap:20px */
}
.help{
    box-sizing: border-box;
   display: flex;
      flex-direction: column;
   flex-flow: wrap;
    position:relative;
   /* justify-content: space-between; */
   /* padding-left: 64px; */
   /* gap:20px; */
   /* max-width: 1184px;*/
   width:100%;
   /* width:800px; */
   max-width: 1184px;
   padding:0
} 
.help-one{
     display:flex;
    flex-direction: column; 
    box-sizing: border-box;
   min-width:50%;
   max-width: 50%;
    /* flex:0 0 48%; */
    /* min-width: unset;
    padding:20px; */
     align-items: center; 
    margin: 0;
    padding:20px;
}
.lazy-image{
    width:100%;
}
.help-one .help-image{
    position:relative;
    width:100%;
    /* width:100%;
    display: block;
    width:360px;
    box-sizing: border-box; */
     height:364px; 
}
.help-one .help-image img{
    position:absolute;
    inset:0px;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center center;
}
.help-content{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.help-content h2{
    text-align: center;
    max-width: 90%;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
} 
.unlock-heading{
    display:flex;
    justify-content: center;
    padding:60px 20px 40px;
    width:100%;

}
.unlock-heading h1{
    text-align: center;
    max-width: 500px;
    font: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01px;
    display:block;
    font-family: var(--bold);
}

.unlock{
   width:100%;
   
}
.unlock-main{
    flex-direction: row;
    justify-content: center;
    min-width: 90%;
    align-items: center;
    padding:20px;
    margin-bottom: -60px;
}
.unlock-one{
    display:flex;
    flex-direction: row-reverse;
    align-content: space-between;
    gap:60px;
    max-width: 1184px;
}
.unlock-content{
    max-width: 400px;
    margin:124px 0px;
}
.unlock-para{
    display:flex;
    flex-direction: column;
    text-align: left;
   
    

}
.unlock-para h4{
    max-width: 90%;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    font-family: var(--bold);
}
.unlock-para p{
      margin-top: 20px;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;

}
.unlock-para .open{
    margin-top: 30px;
}
.unlock-image{
    width:100%;

}
.unlock-image img{
    width:100%;
    height:500px;
    object-fit: cover;
}
.unlock-two .unlock-main{
    flex-direction: row;
    justify-content: center;
    padding:20px;
      padding-top: 80px;
    align-items: center;
    min-width: 90%;
    margin-bottom: 0;
} 
.unlock-two .unlock-one{
    padding:0;
    display:flex;
    flex-direction: row;
}
.unlock .open{
    width:200px;
}
.footer-one .footer-outer{
    flex-direction: row;
    text-align: left;
}
.footer-two .get-know{
    flex-direction: row;
    text-align: left;
}
.footer-three {
    flex-direction: row;
}
.footer-one h4{
    text-align: left;
}
.icons{
    display: flex;
}

}
@media screen and (min-width:900px){
    .doordash{
        transform: scale(1.37);
        /* margin-top: 1px; */
        gap:8.9px;
        padding-right: 1px;
         /* width:120px;  */
        /* padding-left: -4px; */
        /* transform: translateX(-1px); */
    }
    .doordash .doordash-icon1{
        width:31px;
        height:24px;
    }
    /*.doordash .doordash-write{
        width:100px;
    } */
     .delivery .h1{
        font-size: 40px;
        font-weight:900;
        max-width: 750px;
        /* margin-bottom: 2px; */
     }
     .input-wrapper1{
        margin-top: -3px;
     }
     .buttons1{
        display:none
     }
     .signin-saved{
        display:flex;
        padding:5.8px 11.5px;
        align-items: center;
        gap:4px;
        font-weight: 900;
        width:auto;
        border-radius:25px ;
        border:none;
        cursor:pointer;
        font-size:14px;
        min-height:30px;
        justify-content: flex-start;
        margin-top:4px;
     }
    .signin-savedtext{
        font-family: var(--bold);
        font-weight:900;
        padding-top: 2px;
    }
    .option{
        margin-top: 105px;
        margin-left: -65px;
        margin-bottom: 135px;
    }
    .option ul{
        display:flex;
        flex-direction: row;
        justify-content:center;
        height: 100%;
        -webkit-box-pack:center;
        gap: 110px;
        /* height:100% */

    }
    .option  ul li{
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:0px
        /*flex:1; 
        text-align: center;  */
        
    }
    /* .option li .upper{
        height:160px;
        display:flex;
        justify-content: center;
        align-items: center;
    } */
    .option ul img{
        width:154px;
        height:154px;
    }
    /* .option li .upper{
        height:200px;
        display:flex;
        justify-content: center;
    } */
   
    /* .option .para {
        display:flex;
        flex-direction: column;
        justify-content: center;
    }  */
    /* .option .para h4{
        font-size: 24px;
        margin:0;
        padding:0;
        min-height:40px;
        align-self: stretch;
    } */
    /* .option .para p{
        margin-top: 8px;
        line-height: 1.5;
        font-size: 16px;
        text-align: center;
    } */
     .para h4 {
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 11px;
        padding-top: 0px;
     }
    .option .para a{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
        margin-top: 10px;
        position:relative;
        top:-1px;
        left:-5px;
         letter-spacing:-0.5px ;
        /* word-spacing: 0.5px; */
    }
     .option ul li:nth-child(3) .upper {
        position:relative;
        top:20px
    } 
    .option .para{
        width:90%
    }
     .option ul li:nth-child(3) .para h4{
        position:relative;
        top: 20px;
    } 
    .option ul li:nth-child(3) .para p{
        position:relative;
        top:28px;
    
    }
     .option ul li:nth-child(3) .para a{
        position:relative;
        top:20px;
    } 
    .option .para p{
        text-align: center;
        font-size: 18px;
        /* display:inline-block; */
        position:relative;
        top:7px;
        left:-20px
    }
    .main-three{
        display: flex;
       justify-content: center;
       align-items: center;
    }
 .three-main .image{
    position: relative;
    width: 554;
 }
 .three-main .image img{
    width: 554px;
    height:554px;
 }
.help-heading{
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
}
.help-one .help-image{
    width: 100%;
    height: 554px;
}
.unlock{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0
}
.unlock-one{
    display: flex;
    align-items: center;
    justify-content: center;
}
.unlock-main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90%;
}
.footer-two{
    display: flex;
    flex-direction: row;
    flex: 1 1 0%;
    justify-content: space-between;
    margin-top: 5px;
}
.footer-two .get-know{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
}
.three-one .three{
   padding:0
}
.section1{
    margin: 0;
}
.section1 .open{
    width:150px;
    height:45px;
    font-size: 18px;
}
.three-three .three{
    margin-top: 35px;
}
.three-three .three p{
    margin-top:20px
}
.three-three .three-content .open{
    width:auto;
}
.help-heading{
    padding:60px 20px 40px;
}
.help-heading h2{
    line-height: 40px;
    font-size: 32px;
     max-width: 500px;
}
.help-content p{
    margin-top: 20px;
}
.help-content .open{
    margin-top: 30px;
}
.unlock-heading h1{
    max-width: 500px;
    font-size: 32px;
    line-height: 40px;
}
/* .unlock-one{
    gap:0
} */
.city{
    width:100%;
    max-width: 1130px;
    padding:48px 0;
    margin:0 auto;

}
.get-know{
    margin: 0;
}
}
@media screen and (max-width:728px){
    .back-buttons{
        display:none;
    }
}   